## Postulaciones

In [2]:
import pandas as pd

## 2023

In [6]:
df = pd.read_csv("datos_utilizados/postulacion/2023/ArchivoD_Adm2023.csv", sep=";", low_memory=False)

In [14]:
df

,ID_aux,SITUACION_POSTULANTE,COD_CARRERA_PREF_01,ESTADO_PREF_01,PTJE_PREF_01,COD_CARRERA_PREF_02,ESTADO_PREF_02,PTJE_PREF_02,COD_CARRERA_PREF_03,ESTADO_PREF_03,...,COD_CARRERA_PREF_18_PACE,ESTADO_PREF_18_PACE,PTJE_PREF_18_PACE,COD_CARRERA_PREF_19_PACE,ESTADO_PREF_19_PACE,PTJE_PREF_19_PACE,COD_CARRERA_PREF_20_PACE,ESTADO_PREF_20_PACE,PTJE_PREF_20_PACE,PACE
0,id_0001900070103,P,55105,25,"543,9",0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,id_0001900170136,P,11083,25,"794,95",11078,24,"815,25",0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,id_0001900670175,P,23077,25,"570,1",19050,25,"569,9",24048,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,id_0001900870116,P,34086,24,"719,9",34006,26,0,12032,26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,id_0002900370264,P,55038,25,"522,9",19043,25,"504,8",14015,31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186059,id_9999599979931,P,50927,25,"506,9",49006,25,513,56128,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186060,id_9999599979949,P,37020,25,"539,3",30085,25,"568,2",30064,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186061,id_9999599979953,P,50525,25,"684,9",50125,25,"684,9",50225,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186062,id_9999599979968,P,17037,24,"593,3",17033,26,0,17004,26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186063,id_999997943080,P,41031,24,"533,6",16054,26,0,41030,26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 2022

In [17]:
df = pd.read_csv("datos_utilizados/postulacion/2022/ArchivoD_Adm2022.csv", sep=";", low_memory=False)

In [18]:
df

,ID_aux,SITUACION_POSTULANTE,COD_CARRERA_PREF_01,ESTADO_PREF_01,PTJE_PREF_01,POND_ACAD_PREF_01,COD_CARRERA_PREF_02,ESTADO_PREF_02,PTJE_PREF_02,POND_ACAD_PREF_02,...,POND_ACAD_PREF_08_PACE,COD_CARRERA_PREF_09_PACE,ESTADO_PREF_09_PACE,PTJE_PREF_09_PACE,POND_ACAD_PREF_09_PACE,COD_CARRERA_PREF_10_PACE,ESTADO_PREF_10_PACE,PTJE_PREF_10_PACE,POND_ACAD_PREF_10_PACE,PACE
0,id_0000900370098,P,55044,25,"551,1",1,55065,25,"522,1",1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,id_0001900170136,P,49004,25,"710,4",1,53310,25,"708,2",1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,id_0001900170151,P,16108,17,0,0,41012,25,"520,6",2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,id_0001900170189,C,55029,36,0,0,25069,36,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,id_0001900870175,P,50113,24,"483,1",1,36066,26,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147723,id_9999599979966,P,30068,24,"571,25",1,30090,26,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147724,id_9999599979967,P,17005,25,"651,45",1,17076,24,"654,1",1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147725,id_9999599979968,P,37092,24,"610,95",1,49308,26,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147726,id_9999599979969,P,17000,24,"559,05",1,30070,26,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147727,id_9999599979971,P,30020,25,"582,05",1,30023,24,"582,05",1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 2020

In [22]:
df = pd.read_csv("datos_utilizados/postulacion/2020/ArchivoD_Adm2020.csv", sep=";", low_memory=False)

In [23]:
df

,ID_aux,SITUACION_POSTULANTE,COD_CARRERA_PREF_01,ESTADO_PREF_01,PTJE_PREF_01,POND_ACAD_PREF_01,COD_CARRERA_PREF_02,ESTADO_PREF_02,PTJE_PREF_02,POND_ACAD_PREF_02,...,POND_ACAD_PREF_08_PACE,COD_CARRERA_PREF_09_PACE,ESTADO_PREF_09_PACE,PTJE_PREF_09_PACE,POND_ACAD_PREF_09_PACE,COD_CARRERA_PREF_10_PACE,ESTADO_PREF_10_PACE,PTJE_PREF_10_PACE,POND_ACAD_PREF_10_PACE,PACE
0,id_0000900570066,C,12060,36,0,0,16093,36,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,id_0000900570071,P,20022,24,"639,7",1,12011,26,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,id_0000900970028,P,32016,24,"681,1",1,32007,26,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,id_0000900970096,P,48008,25,"509,4",1,17077,25,"526,4",1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,id_0002900070228,P,50512,24,"629,2",1,50522,26,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145639,id_9998599479887,C,32034,31,0,0,32051,31,0,0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,PACE
145640,id_9998599979836,P,30078,24,"620,7",1,30076,26,0,1,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,PACE
145641,id_9998599979867,P,49309,24,"524,45",1,49308,26,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145642,id_9999599479967,P,20050,24,"564,6",1,12096,26,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145643,id_9999599779976,P,14061,25,"540,1",1,14069,24,536,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 2017

In [27]:
df = pd.read_csv("datos_utilizados/postulacion/2017/ArchivoD_Adm2017.csv", sep=";", low_memory=False)

In [28]:
df

,ID_aux,SITUACION_POSTULANTE,COD_CARRERA_PREF_01,ESTADO_PREF_01,PTJE_PREF01,POND_ACAD_PREF01,COD_CARRERA_PREF_02,ESTADO_PREF_02,PTJE_PREF02,POND_ACAD_PREF02,...,POND_ACAD_PREF08_PACE,COD_CARRERA_PREF_09_PACE,ESTADO_PREF_09_PACE,PTJE_PREF09_PACE,POND_ACAD_PREF09_PACE,COD_CARRERA_PREF_10_PACE,ESTADO_PREF_10_PACE,PTJE_PREF10_PACE,POND_ACAD_PREF10_PACE,PACE
0,id_0000900070053,P,40040.0,24.0,54900.0,1.0,38003.0,26.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,id_0000900270060,C,19026.0,36.0,0.0,0.0,23025.0,36.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,id_0000900470063,P,43013.0,24.0,66140.0,1.0,42002.0,26.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,id_0000900470081,P,14030.0,24.0,67490.0,1.0,38004.0,26.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,id_0000900670008,P,22059.0,24.0,50325.0,1.0,22024.0,26.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145991,id_9979599877919,P,26047.0,25.0,52465.0,1.0,41080.0,24.0,52130.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145992,id_9979599877932,P,16080.0,25.0,51140.0,1.0,19095.0,24.0,51430.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145993,id_9988599678866,P,12039.0,24.0,73745.0,1.0,12027.0,26.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145994,id_9990599179038,P,11045.0,24.0,74435.0,1.0,12039.0,26.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145995,id_9990599479025,C,13087.0,36.0,0.0,0.0,36021.0,36.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN