## Rendicion

In [1]:
import pandas as pd

## 2023

In [3]:
df = pd.read_csv("datos_utilizados/rendicion/2023/ArchivoC_Adm2023.csv", sep=";", low_memory=False)

In [4]:
df = df.drop(columns=["MATE1_REG_ANTERIOR", "HCSOC_REG_ANTERIOR", "CIEN_REG_ANTERIOR", "MODULO_REG_ANTERIOR", "CLEC_REG_ANTERIOR", "RBD", "COD_ENS", "MODULO_INV_ACTUAL", "CIEN_INV_ACTUAL", "HCSOC_INV_ACTUAL", "MATE_INV_ACTUAL", "CLEC_INV_ACTUAL", "MODULO_REG_ACTUAL", "PORC_SUP_NOTAS", "RAMA_EDUCACIONAL", "SITUACION_EGRESO"])

In [5]:
df

,ID_aux,GRUPO_DEPENDENCIA,CODIGO_REGION,CODIGO_COMUNA,PROMEDIO_NOTAS,PTJE_NEM,PTJE_RANKING,CLEC_REG_ACTUAL,MATE1_REG_ACTUAL,MATE2_REG_ACTUAL,HCSOC_REG_ACTUAL,CIEN_REG_ACTUAL
0,id_0000900170003,3.0,13.0,13401.0,"5,03",429,429,0.0,402.0,351.0,423.0,0.0
1,id_0000900470024,3.0,13.0,13107.0,"5,9",689,766,475.0,0.0,0.0,0.0,0.0
2,id_0000900670068,2.0,1.0,1101.0,5,415,415,536.0,413.0,0.0,489.0,0.0
3,id_0001900070103,2.0,14.0,14202.0,"5,6",599,599,589.0,437.0,0.0,0.0,478.0
4,id_0001900070149,3.0,14.0,14101.0,"5,28",506,517,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
293860,id_9999599979968,2.0,14.0,14106.0,"5,98",708,785,NaN,NaN,NaN,NaN,NaN
293861,id_999990948930,2.0,13.0,13129.0,"6,03",724,754,0.0,0.0,0.0,0.0,0.0
293862,id_999994942103,3.0,4.0,4301.0,"5,73",637,652,421.0,467.0,472.0,400.0,481.0
293863,id_999997943080,NaN,NaN,NaN,0,0,0,775.0,437.0,0.0,521.0,582.0
293864,id_9999999879976,3.0,13.0,13119.0,"5,85",675,715,0.0,0.0,0.0,0.0,0.0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293865 entries, 0 to 293864
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ID_aux             293865 non-null  object
 1   GRUPO_DEPENDENCIA  291232 non-null  float64
 2   CODIGO_REGION      292597 non-null  float64
 3   CODIGO_COMUNA      291232 non-null  float64
 4   PROMEDIO_NOTAS     293865 non-null  object
 5   PTJE_NEM           293865 non-null  int64
 6   PTJE_RANKING       293865 non-null  int64
 7   CLEC_REG_ACTUAL    272568 non-null  float64
 8   MATE1_REG_ACTUAL   272568 non-null  float64
 9   MATE2_REG_ACTUAL   272568 non-null  float64
 10  HCSOC_REG_ACTUAL   272568 non-null  float64
 11  CIEN_REG_ACTUAL    272568 non-null  float64
dtypes: float64(8), int64(2), object(2)
memory usage: 26.9+ MB

## 2022

In [11]:
df = pd.read_csv("datos_utilizados/rendicion/2022/ArchivoC_Adm2022.csv", sep=";", low_memory=False)

In [12]:
df = df.drop(columns=["PROMEDIO_CM_ANTERIOR", "PERCENTIL_CM_ANTERIOR", "MODULO_ANTERIOR", "CIEN_ANTERIOR", "HCSO_ANTERIOR", "MATE_ANTERIOR", "CLEC_ANTERIOR", "RBD", "RAMA_EDUCACIONAL", "SITUACION_EGRESO", "PORC_SUP_NOTAS", "MODULO_ACTUAL", "PROMEDIO_CM_ACTUAL", "PERCENTIL_CM_ACTUAL"])

In [13]:
df

,ID_aux,COD_ENS,GRUPO_DEPENDENCIA,CODIGO_REGION,CODIGO_COMUNA,PROMEDIO_NOTAS,PTJE_NEM,PTJE_RANKING,CLEC_ACTUAL,MATE_ACTUAL,HCSO_ACTUAL,CIEN_ACTUAL
0,id_0000900070036,310.0,2.0,14.0,14202.0,"5,75",571,571,0,0,0,0
1,id_0000900370001,363.0,2.0,5.0,5502.0,"6,2",671,688,0,0,0,0
2,id_0000900370094,363.0,2.0,5.0,5502.0,"5,77",578,597,0,0,0,0
3,id_0000900370098,310.0,2.0,5.0,5502.0,"5,78",578,578,438,583,574,470
4,id_0000900470074,363.0,2.0,13.0,13101.0,5,403,424,366,325,384,0
...,...,...,...,...,...,...,...,...,...,...,...,...
254186,id_9999599979969,310.0,2.0,9.0,9114.0,"5,63",545,548,600,555,538,569
254187,id_9999599979970,410.0,3.0,9.0,9105.0,"5,28",468,469,507,310,0,503
254188,id_9999599979971,610.0,3.0,9.0,9105.0,"6,3",692,813,463,434,0,455
254189,id_9999599979986,310.0,4.0,9.0,9117.0,"4,85",363,363,235,278,350,314
254190,id_9999599979998,310.0,2.0,13.0,13110.0,"5,25",459,459,279,409,405,0

## 2021

In [50]:
df = pd.read_csv("datos_utilizados/rendicion/2021/ArchivoC_Adm2021.csv", sep=";", low_memory=False)

In [51]:
df = df.drop(columns=["MODULO_ANTERIOR", "CIEN_ANTERIOR", "HCSO_ANTERIOR", "MATE_ANTERIOR", "RBD", "RAMA_EDUCACIONAL", "SITUACION_EGRESO", "PORC_SUP_NOTAS", "MODULO_ACTUAL", "PERCENTIL_CM_ACTUAL", "PERCENTIL_LM_ANTERIOR", "PROMEDIO_LM_ANTERIOR", "LENG_ANTERIOR", "PROMEDIO_CM_ACTUAL"])

In [52]:
df

,ID_aux,COD_ENS,GRUPO_DEPENDENCIA,CODIGO_REGION,CODIGO_COMUNA,PROMEDIO_NOTAS,PTJE_NEM,PTJE_RANKING,CLEC_ACTUAL,MATE_ACTUAL,HCSO_ACTUAL,CIEN_ACTUAL
0,id_0000900070018,610.0,2.0,13.0,13401.0,6,625,713,693,509,716,617
1,id_0000900470042,310.0,2.0,13.0,13301.0,"5,35",483,484,505,419,505,0
2,id_0000900670095,563.0,2.0,1.0,1107.0,"5,07",421,421,214,405,360,0
3,id_0000900870002,410.0,3.0,8.0,8101.0,"5,6",539,539,495,302,0,365
4,id_0001900170136,310.0,2.0,13.0,13110.0,"6,3",689,757,764,614,0,686
...,...,...,...,...,...,...,...,...,...,...,...,...
238813,id_9999599979991,310.0,4.0,9.0,9118.0,"5,15",437,439,495,443,0,537
238814,id_9999599979992,610.0,4.0,9.0,9118.0,"6,03",631,694,275,475,515,0
238815,id_9999599979995,310.0,4.0,9.0,9118.0,"6,28",684,718,420,454,0,458
238816,id_9999599979997,310.0,3.0,14.0,14106.0,"6,55",743,850,481,523,0,442
238817,id_9999599979999,610.0,4.0,9.0,9118.0,6,625,684,349,443,0,404

## 2020

In [17]:
df = pd.read_csv("datos_utilizados/rendicion/2020/ArchivoC_Adm2020.csv", sep=";", low_memory=False)

In [18]:
df = df.drop(columns=["LENG_ANTERIOR", "MATE_ANTERIOR", "HCSO_ANTERIOR", "CIEN_ANTERIOR", "MODULO_ANTERIOR", "PROMEDIO_LM_ANTERIOR", "PERCENTIL_LM_ANTERIOR", "PERCENTIL_LM_ACTUAL", "PROMEDIO_LM_ACTUAL", "MODULO_ACTUAL", "PORC_SUP_NOTAS", "SITUACION_EGRESO", "RAMA_EDUCACIONAL", "RBD"])

In [19]:
df

,ID_aux,COD_ENS,GRUPO_DEPENDENCIA,CODIGO_REGION,CODIGO_COMUNA,PROMEDIO_NOTAS,PTJE_NEM,PTJE_RANKING,LENG_ACTUAL,MATE_ACTUAL,HCSO_ACTUAL,CIEN_ACTUAL
0,id_.9+85.97e+83,510.0,3.0,9.0,9201.0,"4,83",372,372,0,0,372,0
1,id_0000900070019,363.0,2.0,14.0,14101.0,"6,33",694,731,629,542,0,637
2,id_0000900070043,363.0,2.0,14.0,14101.0,"5,45",510,542,385,448,542,451
3,id_0000900270075,563.0,2.0,15.0,15101.0,"4,98",405,405,304,444,444,0
4,id_0000900470040,363.0,3.0,13.0,13301.0,"5,45",510,547,0,0,547,0
...,...,...,...,...,...,...,...,...,...,...,...,...
292086,id_9999599479904,510.0,2.0,13.0,13128.0,"5,13",438,438,427,498,498,389
292087,id_9999599479967,310.0,2.0,13.0,13101.0,"5,8",580,593,559,549,0,542
292088,id_9999599479973,363.0,2.0,16.0,16101.0,"5,3",477,477,407,415,477,446
292089,id_9999599479977,310.0,2.0,5.0,5601.0,"5,2",451,451,380,332,451,0
292090,id_9999599779976,510.0,2.0,4.0,4101.0,"5,48",515,515,597,506,597,0

## 2019

In [60]:
df = pd.read_csv("datos_utilizados/rendicion/2019/ArchivoC_Adm2019.csv", sep=";", low_memory=False)

In [63]:
df = df.drop(columns=["LENG_ANTERIOR", "MATE_ANTERIOR", "HCSO_ANTERIOR", "CIEN_ANTERIOR", "MODULO_ANTERIOR", "PROMEDIO_LM_ANTERIOR", "PERCENTIL_LM_ANTERIOR", "PERCENTIL_LM_ACTUAL", "PROMEDIO_LM_ACTUAL", "MODULO_ACTUAL", "SITUACION_EGRESO", "RAMA_EDUCACIONAL", "RBD"])

In [65]:
df

,ID_aux,COD_ENS,GRUPO_DEPENDENCIA,CODIGO_REGION,CODIGO_COMUNA,PROMEDIO_NOTAS,PTJE_NEM,PTJE_RANKING,LENG_ACTUAL,MATE_ACTUAL,HCSO_ACTUAL,CIEN_ACTUAL
0,id_0000900070019,363.0,2.0,14.0,14101.0,"6,33",691,731,572,0,0,0
1,id_0000900270084,510.0,3.0,15.0,15101.0,"5,93",607,664,362,403,0,402
2,id_0000900370016,310.0,2.0,5.0,5502.0,"5,88",596,601,598,403,696,565
3,id_0000900370067,310.0,2.0,5.0,5502.0,"5,48",513,513,618,329,587,449
4,id_0000900370092,363.0,3.0,5.0,5502.0,"5,05",426,426,380,446,336,367
...,...,...,...,...,...,...,...,...,...,...,...,...
278282,id_9996599179618,510.0,3.0,9.0,9101.0,"5,88",597,776,309,426,446,463
278283,id_9997599679743,610.0,2.0,13.0,13123.0,6,622,693,517,567,354,0
278284,id_9997599779750,410.0,3.0,2.0,2201.0,"5,95",612,657,517,355,526,0
278285,id_9997939341287,310.0,3.0,13.0,13404.0,"6,3",685,697,372,426,0,463
278286,id_9998599379869,310.0,3.0,8.0,8205.0,"5,83",586,586,422,535,0,0